.page-header
  %h1 About 白百合MAP

.row-fluid
  %h2 白百合、赤馬とは
.row-fluid
  .span7
    %p 創業当時から手作りにこだわった、昔ながらの泡盛造りを続ける池原酒造所の銘柄の泡盛「白百合」と「赤馬」。
    %p 泡盛はとてもたくさん種類があり、それぞれ個性がありますが、その中でもひときわ個性的で、これほど好き嫌いがはっきり別れる泡盛は他にないでしょう。
    %p 「カビ臭い」「土臭い」と言われ、嫌いな人も多いですが、この味にハマってしまう人も多い、そんな不思議な泡盛です。

  .span5
    -#.div.thumbnail
      =image_tag('shirayuri1.jpg')
    .photo
      %span
      =image_tag('top.jpg', :size => '320x240')

.row-fluid
  %br
  %br

.row-fluid
  %h2 白百合MAPとは
.row-fluid
  .span5
    .photo.photo-portrait
      %span
      =image_tag('shirayuri2.jpg', :size => '240x320')
    -#.photo
      %span
      =image_tag('shirayuri2.jpg', :size => '320x440')

  .span7
    %p 白百合MAPは、素敵な泡盛、白百合をもっと楽しむためのWebサービスです。
    %p 白百合、赤馬の飲めるお店の情報をみんなで集めて、いつでも白百合が楽しめるようになったらいいな、そう考えて作成しました。
    %p Twitterアカウントを使ってログインしていただければ、だれでもお店を登録・編集して頂けます。
    %br
    %p これから、順次機能を追加していく予定ですので、お楽しみに。

